[Unit]
Description=TJUCAM Camera Node
 
[Service]
Type=simple
ExecStart=/bin/bash /home/alarm/start_cam.sh start
User=root

[Install]
WantedBy=default.target
