[Unit]
Description=TJUCAM Streamming Service
 
[Service]
Type=simple
ExecStart=/bin/bash /home/alarm/start_stream.sh start
User=root

[Install]
WantedBy=default.target
